extends layout

block content
  h1= title
  form(method='POST', action='/register', id='form')
    input(type='text', name='username', tabindex='1')
    a(onClick=`document.getElementById('form').submit()`, tabindex='2') submit
    
